argostranslate==1.9.1
├── ctranslate2 [required: ==3.20.0, installed: ?]
├── sentencepiece [required: ==0.1.99, installed: 0.2.0]
├── stanza [required: ==1.1.1, installed: ?]
├── packaging [required: Any, installed: 25.0]
└── sacremoses [required: ==0.0.53, installed: ?]
black==24.8.0
├── click [required: >=8.0.0, installed: 8.1.7]
├── mypy_extensions [required: >=0.4.3, installed: 1.1.0]
├── packaging [required: >=22.0, installed: 25.0]
├── pathspec [required: >=0.9.0, installed: 0.12.1]
└── platformdirs [required: >=2, installed: 4.4.0]
cryptography==43.0.1
└── cffi [required: >=1.12, installed: 2.0.0]
    └── pycparser [required: Any, installed: 2.23]
easyocr==1.7.2
├── torch [required: Any, installed: 2.8.0]
│   ├── filelock [required: Any, installed: 3.19.1]
│   ├── typing_extensions [required: >=4.10.0, installed: 4.15.0]
│   ├── setuptools [required: Any, installed: 80.9.0]
│   ├── sympy [required: >=1.13.3, installed: 1.14.0]
│   │   └── mpmath [required: >=1.1.0,<1.4, installed: 1.3.0]
│   ├── networkx [required: Any, installed: 3.5]
│   ├── Jinja2 [required: Any, installed: 3.1.6]
│   │   └── MarkupSafe [required: >=2.0, installed: 3.0.3]
│   └── fsspec [required: Any, installed: 2025.9.0]
├── torchvision [required: >=0.5, installed: 0.23.0]
│   ├── numpy [required: Any, installed: 1.26.4]
│   ├── torch [required: ==2.8.0, installed: 2.8.0]
│   │   ├── filelock [required: Any, installed: 3.19.1]
│   │   ├── typing_extensions [required: >=4.10.0, installed: 4.15.0]
│   │   ├── setuptools [required: Any, installed: 80.9.0]
│   │   ├── sympy [required: >=1.13.3, installed: 1.14.0]
│   │   │   └── mpmath [required: >=1.1.0,<1.4, installed: 1.3.0]
│   │   ├── networkx [required: Any, installed: 3.5]
│   │   ├── Jinja2 [required: Any, installed: 3.1.6]
│   │   │   └── MarkupSafe [required: >=2.0, installed: 3.0.3]
│   │   └── fsspec [required: Any, installed: 2025.9.0]
│   └── pillow [required: >=5.3.0,!=8.3.*, installed: 10.4.0]
├── opencv-python-headless [required: Any, installed: 4.11.0.86]
│   ├── numpy [required: >=1.21.2, installed: 1.26.4]
│   ├── numpy [required: >=1.21.4, installed: 1.26.4]
│   ├── numpy [required: >=1.23.5, installed: 1.26.4]
│   ├── numpy [required: >=1.26.0, installed: 1.26.4]
│   ├── numpy [required: >=1.17.0, installed: 1.26.4]
│   ├── numpy [required: >=1.17.3, installed: 1.26.4]
│   └── numpy [required: >=1.19.3, installed: 1.26.4]
├── scipy [required: Any, installed: 1.16.2]
│   └── numpy [required: >=1.25.2,<2.6, installed: 1.26.4]
├── numpy [required: Any, installed: 1.26.4]
├── pillow [required: Any, installed: 10.4.0]
├── scikit-image [required: Any, installed: 0.24.0]
│   ├── numpy [required: >=1.23, installed: 1.26.4]
│   ├── scipy [required: >=1.9, installed: 1.16.2]
│   │   └── numpy [required: >=1.25.2,<2.6, installed: 1.26.4]
│   ├── networkx [required: >=2.8, installed: 3.5]
│   ├── pillow [required: >=9.1, installed: 10.4.0]
│   ├── imageio [required: >=2.33, installed: 2.37.0]
│   │   ├── numpy [required: Any, installed: 1.26.4]
│   │   └── pillow [required: >=8.3.2, installed: 10.4.0]
│   ├── tifffile [required: >=2022.8.12, installed: 2025.9.20]
│   │   └── numpy [required: Any, installed: 1.26.4]
│   ├── packaging [required: >=21, installed: 25.0]
│   └── lazy_loader [required: >=0.4, installed: 0.4]
│       └── packaging [required: Any, installed: 25.0]
├── python-bidi [required: Any, installed: 0.6.6]
├── PyYAML [required: Any, installed: 6.0.3]
├── shapely [required: Any, installed: 2.1.2]
│   └── numpy [required: >=1.21, installed: 1.26.4]
├── pyclipper [required: Any, installed: 1.3.0.post6]
└── ninja [required: Any, installed: 1.13.0]
flake8==7.1.1
├── mccabe [required: >=0.7.0,<0.8.0, installed: 0.7.0]
├── pycodestyle [required: >=2.12.0,<2.13.0, installed: 2.12.1]
└── pyflakes [required: >=3.2.0,<3.3.0, installed: 3.2.0]
Flask==3.0.3
├── Werkzeug [required: >=3.0.0, installed: 3.0.4]
│   └── MarkupSafe [required: >=2.1.1, installed: 3.0.3]
├── Jinja2 [required: >=3.1.2, installed: 3.1.6]
│   └── MarkupSafe [required: >=2.0, installed: 3.0.3]
├── itsdangerous [required: >=2.1.2, installed: 2.2.0]
├── click [required: >=8.1.3, installed: 8.1.7]
└── blinker [required: >=1.6.2, installed: 1.9.0]
langdetect==1.0.9
└── six [required: Any, installed: 1.17.0]
loguru==0.7.2
matplotlib==3.8.4
├── contourpy [required: >=1.0.1, installed: 1.3.3]
│   └── numpy [required: >=1.25, installed: 1.26.4]
├── cycler [required: >=0.10, installed: 0.12.1]
├── fonttools [required: >=4.22.0, installed: 4.60.0]
├── kiwisolver [required: >=1.3.1, installed: 1.4.9]
├── numpy [required: >=1.21, installed: 1.26.4]
├── packaging [required: >=20.0, installed: 25.0]
├── pillow [required: >=8, installed: 10.4.0]
├── pyparsing [required: >=2.3.1, installed: 3.2.5]
└── python-dateutil [required: >=2.7, installed: 2.9.0.post0]
    └── six [required: >=1.5, installed: 1.17.0]
mecab-python3==1.0.9
mypy==1.11.2
├── typing_extensions [required: >=4.6.0, installed: 4.15.0]
└── mypy_extensions [required: >=1.0.0, installed: 1.1.0]
opencv-python==4.10.0.84
├── numpy [required: >=1.21.2, installed: 1.26.4]
├── numpy [required: >=1.21.4, installed: 1.26.4]
├── numpy [required: >=1.23.5, installed: 1.26.4]
├── numpy [required: >=1.26.0, installed: 1.26.4]
├── numpy [required: >=1.17.0, installed: 1.26.4]
├── numpy [required: >=1.17.3, installed: 1.26.4]
└── numpy [required: >=1.19.3, installed: 1.26.4]
pipdeptree==2.28.0
├── packaging [required: >=24.1, installed: 25.0]
└── pip [required: >=24.2, installed: 25.2]
pydantic==2.9.2
├── annotated-types [required: >=0.6.0, installed: 0.7.0]
├── pydantic_core [required: ==2.23.4, installed: 2.23.4]
│   └── typing_extensions [required: >=4.6.0,!=4.7.0, installed: 4.15.0]
└── typing_extensions [required: >=4.6.1, installed: 4.15.0]
pykakasi==2.2.1
├── jaconv [required: Any, installed: 0.3.4]
└── Deprecated [required: Any, installed: 1.2.18]
    └── wrapt [required: >=1.10,<2, installed: 1.17.3]
pytesseract==0.3.13
├── packaging [required: >=21.3, installed: 25.0]
└── pillow [required: >=8.0.0, installed: 10.4.0]
pytest-cov==5.0.0
├── pytest [required: >=4.6, installed: 8.3.3]
│   ├── iniconfig [required: Any, installed: 2.1.0]
│   ├── packaging [required: Any, installed: 25.0]
│   └── pluggy [required: >=1.5,<2, installed: 1.6.0]
└── coverage [required: >=5.2.1, installed: 7.10.7]
python-dotenv==1.0.1
python-magic==0.4.27
regex==2024.9.11
requests==2.32.3
├── charset-normalizer [required: >=2,<4, installed: 3.4.3]
├── idna [required: >=2.5,<4, installed: 3.10]
├── urllib3 [required: >=1.21.1,<3, installed: 2.2.3]
└── certifi [required: >=2017.4.17, installed: 2025.8.3]
SQLAlchemy==2.0.36
└── typing_extensions [required: >=4.6.0, installed: 4.15.0]
tqdm==4.66.5
unidic-lite==1.0.8
wheel==0.45.1
